{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main_container">
    <div class="content">
        <div class="first">
            <div class="card mb-3">
                <div class="card-header bg-dark">
                </div>
                {% for order in object_list %}
                <div class="card-body ">
                    <div class="d-flex justify-content-around">
                        <h5 class="card-title">Заказ: {{ order }}</h5>
                        <p class="card-text">Водитель: {% if order.driver %} {{ order.driver }} {% else %} - {% endif %}</p>
                    </div>
                    <div class="d-flex-justify-content-end">
                        <a href="{{ order.get_absolute_url }}" class="btn btn-primary justify-content-center">Подробнее</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock%}